
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: #e2e8f0;
  text-align: center;
}

#heading1 {
  font-size: 2.2rem;
  font-weight: bold;
  color:white;
}

#heading2 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #30d960;
  margin-top: -10px;
}

p {
  margin-top: 10px;
  color: #94a3b8;
  font-size: 1rem;
}

#btn {
  margin-top: 25px;
  padding: 12px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #0f172a;
  background: #30d960;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(56, 189, 248, 0.4);
}

#btn:hover {
  background: lightgreen;
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(12, 167, 100, 0.6);
}

.pass {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.pass p {
  background: #1e293b;
  color: #30d960;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  width: 180px;
  text-align: center;
  border: 1px solid #334155;
  transition: 0.3s;
}

.pass p:hover {
  border-color: lightgreen;
  box-shadow: 0 0 10px rgba(56, 189, 248, 0.4);
}
